body.light-mode {
  background: #f8f9fa;
  color: #212529;
}

body.dark-mode {
  background: #121212;
  color: #f1f1f1;
}

.card {
  border-radius: 12px;
}

#taskList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-text.completed {
  text-decoration: line-through;
  color: gray;
}
